<mat-toolbar color="primary">
    <button (click)="menubtnclicked()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Admin</span>
    <span class="example-spacer"></span>

    <div class="flex-container">
        <ul>


            <!-- icon 1 -->
            <li>
                <button mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with heart icon">
                    <mat-icon>settings</mat-icon>
                </button>
            </li>
            <!-- icon 2 -->
            <li>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>help_outline</mat-icon>
                </button>
            </li>
            <!-- icon 3 -->
            <li>
               
                <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with share icon">
                    <mat-icon>person_outline</mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item><mat-icon>logout</mat-icon>Logout</button>
                    <button mat-menu-item>Item 2</button>
                  </mat-menu>
            </li>


        </ul>
    </div>
</mat-toolbar>