.icon1{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.homeicon{
    font-size: 50px;
    width: fit-content;
    height: fit-content;

}

.orange{
    background-color: orange;
    box-shadow: 4px 3px 2px 0px black;
}

.red{
    background-color: red;
    box-shadow: 4px 3px 2px 0px black;
}

.green{
    background-color: green;
    box-shadow: 4px 3px 2px 0px black;
}

.blue{
    background-color: blue;
    box-shadow: 4px 3px 2px 0px black;
}