.profile{
    text-align: center;
}

.profile img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.pages{
    text-decoration: none;
}

.profile h3{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
}

h2{
    padding-left: 10px;
    font-size: medium;
    font-weight: 500;
    margin-bottom: 0;
}

.pages{
    display:flex;
    flex-direction: column;
}

.pages a{
    text-decoration: none;
    height: 30px;
    color: black;
    padding: 10px 0 0  10px;
}

.pages a:hover{
    background-color: bisque;
}


mat-icon{
    vertical-align: middle;
    margin-right: 10px;
}