<!-- header selector -->
<app-header (MenuBtnClick)="toggle()"> </app-header>

<mat-drawer-container class="example-container">
    <!-- sidebar selctor -->

    <mat-drawer mode="side" [opened]="sidebarOpened">
        <app-aside-sidebar> </app-aside-sidebar>
    </mat-drawer>


    
<!-- dashboard -->

    <mat-drawer-content>
       <!-- user request pages -->
       <!-- <app-dashboard></app-dashboard> -->


       <router-outlet></router-outlet>


    </mat-drawer-content>

    </mat-drawer-container>
  





<!-- footer -->
<app-footer> </app-footer>