.table-pi{
 display: flex;
 justify-content: space-between;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.area{
    margin: 20px 0px;
}

.table-pi{
    margin-bottom: 50px;
    margin-left: 12px;
}

