<!-- <p>dashboard works!</p> -->

<!-- card -->
<div class="cards">
    <!-- <app-card> </app-card> -->

    <!-- card 1 -->

     <mat-card>
        <app-card bg="orange" 
                  icon="person"
                  description="student"
                  count="5000">
        </app-card>
      </mat-card>

      <!-- card 2 -->

      <mat-card>
        <app-card bg="red" 
                  icon="home"
                  description="institution"
                  count="2000"> 
        </app-card>
      </mat-card>

      <!-- card 3 -->

      <mat-card>
        <app-card bg="green" 
                  icon="groups"
                  description="employees"
                  count="1500">
        </app-card>
      </mat-card>

      <!-- card 4 -->

      <mat-card>
        <app-card bg="blue" 
                  icon="dashboard"
                  description="placements"
                  count="1000"> 
        </app-card>
      </mat-card>
      
      
</div>



<!-- area chart -->
<div class="area">
    <app-area-chart> </app-area-chart>
</div>


<div class="table-pi">
    <!-- table -->
    <div>
        <app-table> </app-table>
    </div>
    <!-- pi-chart -->
    <div>
        <app-pichart> </app-pichart>
    </div>
</div>

